*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# NetBeans specific
nbproject/
build/
libs/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

nmn.db
log/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/software/admin/nbproject/private/
/software/service/nbproject/private/
/software/reader/nbproject/private/
/software/admin/dist/